body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Kramskoy_Mendeleev_01.jpg");
    background-size: cover;
    background-repeat: repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
li {
    font-size: 1.1vw;
    max-height: 35px;
}
h1 {
    color: #088ea3;
    font-style: italic;
}
table {
    width: 100%;
}
.symbol {
    text-align: center;
    font-weight: bold;
    color: blue;
}
.number {
    text-align: left;

}
.weight {
    text-align: right;
}
li.symbol {
    font-size: 2vw;
}
.reactive-nonmetal {
    background-color: #e2e876;
}
.noble-gas-nonmetal {
    background-color: #afeaed;
}
.lan-thanide {
    background-color: #ef94ec;
}
.alkaline-earth-metal {
    background-color: #f4d58d;
}
.actinide {
    background-color: #ed57c0;
}
.transition-metal {
    background-color: #ed9212;
}
.post-transition-metal {
    background-color: #bcb5ad;
}
.metalloid {
    background-color: #b2a753;
}
.unknown {
    background-color: #ede8e3;
}
.alkali-metal {
    background-color: #f7717f;
}